extends ./partials/layout

block content 

    h1 #{title}
    h2 Sign Up

    if errors && errors.authentication 
        ul 
            each error in errors.authentication 
                li= error

    form(action="/signup", method="post") 
        div
            label(for="firstName") First Name:
            input#firstName(type="text", name="firstName", value= inputs ? inputs.firstName : '', minlength='1', maxlength='20', required, autofocus, autocomplete='on')
            label(for="lastName") Last Name:
            input#lastName(type="text", name="lastName", value= inputs ? inputs.lastName : '', minlength='1', maxlength='20', required, autocomplete='on')
            label(for="email") Email: 
            input#email(type="email", name='email', value= inputs ? inputs.email : '', required, autocomplete='on')
            label(for='password') Password:
            input#password(type='password', name='password', minlength='8', maxlength='255', required)
            label(for='confirmPassword') Confirm Password:
            input#confirmPassword(type='password', name='confirmPassword', minlength='8', maxlength='255', required)
        button(type="submit") Submit

    a(href="/") Back to Landing Page 